.cmb-repeat-group-wrap .cmb2-wrap > .cmb-field-list > .cmb-row,
.postbox-container .cmb2-wrap > .cmb-field-list > .cmb-row {
	padding: 0 !important;
}

.cmb-repeat-group-wrap .cmb-repeatable-group:not(:last-of-type),
.cmb-repeat-group-wrap .cmb-row:not(:last-of-type),
.postbox-container .cmb-repeatable-group:not(:last-of-type),
.postbox-container .cmb-row:not(:last-of-type) {
	border: none !important;
}

.cmb-repeat-group-wrap .cmb-row:not(:last-of-type).cmb-type-title,
.postbox-container .cmb-row:not(:last-of-type).cmb-type-title {
	background: #e9e9e9;
	padding: 5px 10px !important;
	margin: 10px 0;
}

.cmb2-metabox .cmb-repeat-group-wrap {
	max-width: 100% !important;
}

.cmb-repeat-group-wrap .cmb-remove-field-row,
.cmb-repeat-group-wrap .cmb-repeat-group-field,
.postbox-container .cmb-remove-field-row,
.postbox-container .cmb-repeat-group-field {
	padding: 10px 0 !important;
}

/* SSTech Modifications */

.tablenav .actions {
    overflow: visible;
}

.post-type-wp_crawler_post #filter-by-date {
    display: none;
}
